// 让锚点跳转链接平缓
html{
  scroll-behavior: smooth;
}

// 重新定义导航元素 覆盖bootstrap框架自带的样式
.navbar{
  // 让导航栏紧贴着浏览器窗口
  position: sticky;
  left:0;
  top:0;
  // 层级深度
  z-index:10;


  border-radius: 0px;
  border:0px;
  background:#111111;
  overflow: hidden;
  padding: .8em 0em;
  margin-bottom:0px;
  width:100%;

  // 修改logo
  .navbar-brand{
    text-transform: uppercase;
    font-family: OSBold;
  }

  // 导航元素修改
  .nav{
    margin: 0px;
    overflow: hidden;
  }

  .nav a{
    text-transform: uppercase;
    font-family: OSBold;
    border-bottom:5px solid transparent;

    // 过渡效果
    transition: all .3s linear;

    // & == a 元素自己本身  hover 悬停的意思
    &:hover{
      border-bottom:5px solid #fcac45;
      transform:scale(1.1);
    }
  }

  // css媒体查询
  // 折叠导航 770px 
  @media screen and (max-width:770px){
    .nav a{
      text-align: center;
    }
  }

}

// banner
.banner{
  background:#111;
  color:#d5d5d5;
  text-align: center;
  padding:16em 0em 6em;
  overflow: hidden;

  .title{
    font-family: OSBold;
    text-transform: uppercase;
    font-size:3em;

    span{
      color:#fcac45;
    }
  }

  .subtitle{
    font-family: OSLight;
    font-size:1.5em;
    letter-spacing: 1px;
    margin-bottom:15em;

    span{
      font-family: OSBold;
    }
  }

  .more{
    width:4em;
    height:4em;
    line-height:3em;
    border:3px solid #d5d5d5;
    border-radius:100%;
    margin:0 auto;

    transition:all linear .3s;

    a{
      width:100%;
      height:100%;
      font-size:1.5em;
      font-weight: bold;
      color:#fff;
    }

    &:hover{
      transform:translateY(-10px);
      box-shadow: 0px 10px 10px 5px #d5d5d5;
    }
    
  }

  @media screen and (max-width:700px){
    .title{
      font-size: 2.2em;
    }

    .subtitle{
      font-size:1.5em;
    }
  }
}

// 关于我们About
.about{
  padding:6em 0em;
  color:#797979;

  .container{
    // 弹性布局
    display: flex;

    .left{
      // 默认缩放为1 0不缩放
      flex-shrink: .5;
    }

    .right{
      width: 60%;

      .subject{
        margin-bottom:2em;

        .small{
          font-family: OSLight;
          font-size:1.5em;
          text-transform: uppercase;
        }

        .big{
          width:95%;
          font-family: OSLight;
          font-size:2.5em;
          text-transform: uppercase;
          color:#000;

          // 强制让文字只能在一行显示
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          span:first-child{
            display: inline-block;
            padding-bottom:.3em;
            border-bottom:5px solid #fcac45;
          }

          span:last-child{
            font-family: OSBold;
          }
        }
      }

      .desc{
        color: #797979;
        font-size:1.2em;
        font-family: OSLtalic;
        margin-bottom:2em;
      }

      .list{
        margin-bottom:2em;

        li{
          font-size:1.2em;
          margin-bottom: .3em;

          span:first-child{
            top:2px;
          }

          span:last-child{
            font-family: OSBold;
          }
        }
      }

      .more{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width:20em;
        padding:1em 2em;
        border:1px solid #797979;
        border-radius: 3px;
        cursor: pointer;
        transition:all linear .3s;

        &:hover{
          transform:translateY(-10px);
          box-shadow: 0px 10px 10px 10px #737373;
        }

        span:first-child{
          top:-1px;
          margin-right:.5em;
        }

        span:last-child{
          text-transform: uppercase;
          font-weight: bold;
          font-size:1.2em;
        }
      }
    }
  }

  // 当屏幕缩小到1000px以下的时候
  @media screen and (max-width:1000px){
    .container{
      display: block;

      .left{
        display: none;
      }

      .right{
        width:100%;
      }
    }
  }

  @media screen and (max-width:500px){
    padding:3em 0em;

    .container{
      .right{
        .subject{
          .small{
            font-size:1.2em;
          }

          .big{
            font-size:2em;
          }
        }
      }
    }
  }
}

// 团队team
.team{
  background:#111111;
  padding:6em 0em;
  color:#fff;

  .title{
    font-size:3em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    background:url('../images/title-background.png') no-repeat center bottom;
    padding-bottom:.8em;
    margin-bottom:2.5em;
    font-family: OSLight;

    span{
      font-family: OSBold;
    }
  }

  .list{
    display: flex;
    justify-content: space-between;
    margin-bottom:5em;

    .item{
      width:23%;

      .cover{
        width:70%;
        margin:0 auto;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom:1em;

        transition:all linear .3s;

        &:hover{
          transform:translateY(-10px);
          box-shadow: 0px 20px 10px 10px #797979;
        }
      }

      .box{
        text-align: center;

        p:first-child{
          font-size:1.3em;
          font-family: OSBold;
        }

        p:nth-child(2){
          margin-bottom:2em;
        }
      }
    }
  }

  .more{
    width:100%;
    text-align: center;

    span{
      display: inline-block;
      width:1em;
      height:1em;
      background:#fff;
      transition: all linear .3s;
      cursor: pointer;
      margin-right:1em;

      &:hover{
        background:#fcac45;
      }
    }
  }

  // 最大为600px的时候 改成垂直的排列方式
  @media screen and (max-width:600px){
    &{
      padding:6em 0em 3em;
    }

    .list{
      display: block;
      margin-bottom:3em;

      .item{
        width:100%;
        display: flex;
        margin-bottom:1em;

        .cover{
          border-radius: 0px;
          width:50%;
          margin-right:2%;
        }

        .box{
          text-align: left;
        }
      }
    }
  }
}